#DogPicture {
    width: 500px;
    height: 500px;
    background-size: cover;
    text-align: center;
    margin: 20px;
}

#facts{
    width: 400px;
    margin:20px
}

#bodytype {
    display: flex;
    flex-direction: column;
    align-items: center;
}